
  main .container2{
    background-image: url(images/Sand.jpg);
    background-size: cover;
    background-position:center;
    padding: 70px;
    border-radius: 20px;
    margin: 20px;
      
  }
  main hr{
    background: black;
    padding: 2px;
    margin:10px 120px ;
  }
main h1{
    font-size: 25px;
    margin-bottom: 20px;
    color: black;
    /* text-shadow: -4px 4px rgba(179,179,179,.4), -3px 3px rgba(153,153,153,.2), -2px 2px rgba(179,179,179,.2), -1px 1px rgba(179,179,179,.2), 0px 0px rgba(128,128,128,.5), 1px -1px rgba(77,77,77,.6), 2px -2px rgba(77,77,77,.7), 3px -3px rgba(82,82,82,.8), 4px -4px rgba(77,77,77,.9), 5px -5px rgba(77,77,77,1); */
  }
  main .accordion-button{
    font-size: 20px;
}
  main .accordion-body{
    font-size: 15px;
}
 
  .accordion-item{
    /* border-radius: 25px; */
    width: 100%;  
    background:rgba(255, 255, 255, 0.219) !important;
    color:black ;
  }
.accordion-header .accordion-button{
    background:rgba(255, 255, 255, 0.144) !important;
    color: black;
  } 
  /* מה קורה ברגע שהכותרת באקורדיון לחוצה */
  .accordion-header .accordion-button:not(.collapsed){
    background:rgba(0, 0, 0, 0.466) !important;
  }
   @media (max-width:992px){
    /* main .container2{
      padding: 50px;
      border-radius: 50px;
      margin: 20px;  
    } */
    main h1{
      font-size: 15px; 
    }
    /* main hr{
      padding: 1px;
      margin:10px 20px ;
    }
    main .accordion-button{
      font-size: 20px;
  }
    main .accordion-body{
      font-size: 15px;
  } */
   }
   @media (max-width:768px){
    main .container2{
      margin-top: 10px;
      padding:  10px 10px;
      border-radius: 7px;
      margin: 5px;
    }
    main h1{
      font-size: 20px; 
    }
    /* main hr{
      padding: 1px;
      margin:10px 20px ;
    }
    main .accordion-button{
      font-size: 20px;
  }
    main .accordion-body{
      font-size: 15px;
  } */


   }